@tailwind base;
@tailwind components;
@tailwind utilities;
.button-black {
  @apply min-w-[170px] min-h-12 mt-14 bg-black text-white font-normal text-xl items-center rounded-md;
  @apply hover:bg-white hover:text-black hover:border-solid hover:border-[1px] hover:border-red-600 transition duration-300 ease-in-out;
}
.shadow-team{
box-shadow: 3px 4px 12px 1px #00000040;
}
.shadow-team2{
box-shadow: 5px 6px 14px 3px #00000040;
}
@keyframes custom-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px) scale(1.5);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
